{% extends "blog/base.html" %}
{% load static %}

{% block title %}Inici{% endblock %}

{% block content %}
  <!-- Imagen hero -->
  <div class="relative w-full h-64 md:h-80 lg:h-96 overflow-hidden rounded-xl shadow mb-8">
    <img src="{% static 'gato.jpg' %}" class="object-cover w-full h-full">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
      <div class="text-center text-white px-4">
        <h1 class="text-4xl md:text-5xl font-bold">Benvingut al Blog M3 - UF6</h1>
        <p class="mt-2 text-lg md:text-xl">Aquest és el projecte d'aprenentatge M3-UF6 basat en Django</p>
      </div>
    </div>
  </div>  
    <h1 class="text-3xl font-bold mb-6">Últims Posts</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for post in posts %}
            <div class="bg-white p-4 rounded-lg shadow">
                <img src="{% static post.image %}" alt="Image" class="w-full h-48 object-cover rounded mb-4">
                <h2 class="text-xl font-semibold">{{ post.title }}</h2>
                <p class="text-gray-600">{{ post.excerpt }}</p>
                <a href="{% url 'posts-detail-page' post.slug %}" class="text-blue-600 hover:underline">Llegir més →</a>
            </div>
        {% endfor %}
    </div>    
{% endblock %}
